<div>
  <a href="{{ .Permalink }}" class="catalogue-item-micro">
    <time datetime="{{ .PublishDate }}" class="catalogue-time">{{ i18n "publishdate" . }}</time>
    <h1 class="catalogue-title">{{ if isset .Params "summary" }}{{ .Params.Summary | markdownify }}{{ else }}{{ .Summary }}{{ end }}</h1>
  </a>

  <div class="catalogue-line"></div>
    <p>{{ .Content }}</p>
  </div>
</div>
