<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    {{ partial "head.html" . }}
    <body>
        {{ partial "header.html" . }}
        <div id="lb-back">
            <div id="lb-img"></div>
        </div>
        {{ block "main" . }}{{ end }}
        {{ partial "footer.html" . }}
    </body>
</html>
