.figure-caption {
  text-align:center;
  font-style: italic;
  font-size: 0.8em
}

.figure {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.photoset {
  display: grid;
  grid-gap: 1em;
}

.max-2 {
  grid-template-columns: repeat(2, 1fr);
}

.max-3 {
  grid-template-columns: repeat(3, 1fr);
}

.embed {
  margin-left: auto;
  margin-right: auto;
}