<div class="embed">
  {{ $albumid := .Get 0 }}
  <iframe style="margin: 20px auto; display:block ;border: 0; width: 700px; height: 300px;" src="https://bandcamp.com/EmbeddedPlayer/album={{ $albumid }}/size=large/bgcol=ffffff/linkcol=333333/artwork=small/transparent=true/" seamless></iframe>
  </iframe>
</div>