<figure class="figure">
  {{ $img :=  .Get 0}}
  {{ $thumb := printf "thumb-%s" $img }}
  {{ $img := .Page.Resources.GetMatch (printf "*%s*" ($img)) }}
  {{ $thumb := .Page.Resources.GetMatch (printf "*%s*" ($thumb)) }}
  <img src="{{ $thumb.Permalink }}" data-src="{{ $img.Permalink }}" alt="{{ .Get 1 }}" class="figure-img img-fluid zoomD">
  {{ with .Get 1 }}<figcaption class="figure-caption">{{ . }}. ©Fred</figcaption>{{ end }}
</figure>