<figure class="figure">
  {{ $img :=  .Get 0}}
  <img src="/images/{{ $img }}?nf_resize=fit&w=300&h=300" data-src="/images/{{ $img }}?nf_resize=fit&w=1600&h=1600" link="/images/{{ $img }}" alt="{{ .Get 1 }}" class="figure-img img-fluid zoomD">
  {{ with .Get 1 }}<figcaption class="figure-caption">{{ . }}. ©Fred</figcaption>{{ end }}
</figure>